.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home-logo {
  width: 33vw !important;
  margin: auto;
  border-radius: 6vw;
}

.fullWidth {
  width: 100%;
}

.fillAvailable {
  width: -webkit-fill-available;
}

.pageTitle {
  font-size: 22px;
  text-align: center;
}

.description {
  font-size: 16px !important;
  color: #a7a7a7;
}

.label {}

.button {
  font-size: 17px !important;
  border-radius: 19px !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  margin: 0.3rem !important;
  font-weight: bold !important;
}

.header-button {
  font-size: 14px !important;
  border-radius: 15px !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.1rem !important;
  margin: 0.1rem !important;
  background-color: #C2F947 !important;
  font-weight: bold !important;
}

.buttonText {}

.infoText {
  font-size: 14px;
}

.img-list {
  flex-grow: initial !important;
}

.subTitle {}

.descriptionLg {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: 2px;
  font-weight: 100;
}

.tip-style {
  margin-left: 0;
  list-style-type: disc;
  padding-left: 22px;
}

.textOverElement {
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 900;
  font-size: 7vw;
  letter-spacing: 3;
}

.termsPolicyText {
  font-size: 13px !important;
}

.footer {
  position: fixed;
  bottom: 0;
  margin-right: 16px;
  margin-bottom: 30px;
}

.third {
  color: #C2F947 !important;
}

.input-text {
  font-size: 17px !important;
  border-radius: 26px !important;
  background-color: #212121;
  padding: 11px 19px;
  margin: 10px 0;
  border: 0;
}

textarea.input-text {
  color: #eeeeee;
}

.input-text:focus-visible {
  outline: none;
}

.input-text input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #212121 inset;
  -webkit-text-fill-color: #FFFFFF;
}

.center-circle {
  width: 80vw;
  height: 80vw;
  border-radius: 50%;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(-60%);
}

.top-left-button {
  position: absolute !important;
  top: -3px;
  left: -19px;
}

.padding-right-15 {
  padding-right: 10px !important;
}

.image-list-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.list-select-box {
  font-size: 17px !important;
  border-radius: 26px !important;
  background-color: #FFFFFF;
  padding: 11px 19px;
  margin: 10px 0;
  border: 0;
}

.list-select-box .MuiSvgIcon-root {
  color: #444;
}

.text-black {
  color: #111 !important;
}